<nav class=" nav-bar border rounded float-right mr-5 sticky">
  <ul class="nav m-3 flex-column">
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('all')">All Categories</button>
    </li>
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('bread')">Bread</button>
    </li>
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('dairy')">Dairy</button>
    </li>
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('fruits')">Fruits</button>
    </li>
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('ss')">Seasonings and Spices</button>
    </li>
    <li class="nav-item ">
      <button class="btn-block btn btn-outline-info" (click)="productCmpObj.getItems('veg')">Vegetables</button>
    </li>
  </ul>
</nav>